AttendanceManagementSystem/WebClient/Connected Services/AttendanceService/AttendanceService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/AMSServices/AttendanceService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:9000/AMSServices/AttendanceService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServices.AttendanceService" />
  <xs:element name="AddAttendances">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sids" nillable="true" type="q1:ArrayOfint" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="presents" nillable="true" type="q2:ArrayOfboolean" />
        <xs:element minOccurs="0" name="tid" type="xs:int" />
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cls" type="xs:int" />
        <xs:element minOccurs="0" name="sub" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttendancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAttendancesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAttendanceByTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAttendanceByTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServices.AttendanceService" minOccurs="0" name="GetAllAttendanceByTeacherResult" nillable="true" type="q3:ArrayOfAttendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAttendanceByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAttendanceByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServices.AttendanceService" minOccurs="0" name="GetAllAttendanceByDateResult" nillable="true" type="q4:ArrayOfAttendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAttendanceByTeacherAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tid" type="xs:int" />
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAttendanceByTeacherAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServices.AttendanceService" minOccurs="0" name="GetAllAttendanceByTeacherAndDateResult" nillable="true" type="q5:ArrayOfAttendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>