AttendanceManagementSystem/WebClient/Connected Services/AttendanceService/AttendanceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServices.AttendanceService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServices.AttendanceService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/AMSServices/AttendanceService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfServices.StudentService" />
  <xs:import schemaLocation="http://localhost:9000/AMSServices/AttendanceService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WcfServices.TeacherService" />
  <xs:complexType name="ArrayOfAttendance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attendance" nillable="true" type="tns:Attendance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttendance" nillable="true" type="tns:ArrayOfAttendance" />
  <xs:complexType name="Attendance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Present" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServices.StudentService" minOccurs="0" name="S" nillable="true" type="q1:Student" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServices.TeacherService" minOccurs="0" name="T" nillable="true" type="q2:Teacher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attendance" nillable="true" type="tns:Attendance" />
</xs:schema>