AttendanceManagementSystem/WebClient/Connected Services/TeacherServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeacherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServices.TeacherService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeacherService_GetTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachers" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DeleteTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DeleteTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_UpdateTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_UpdateTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacherResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeacherService">
    <wsdl:operation name="GetTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetTeachers" message="tns:ITeacherService_GetTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetTeachersResponse" message="tns:ITeacherService_GetTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetTeacher" message="tns:ITeacherService_GetTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetTeacherResponse" message="tns:ITeacherService_GetTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/AddTeacher" message="tns:ITeacherService_AddTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/AddTeacherResponse" message="tns:ITeacherService_AddTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/DeleteTeacher" message="tns:ITeacherService_DeleteTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/DeleteTeacherResponse" message="tns:ITeacherService_DeleteTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/UpdateTeacher" message="tns:ITeacherService_UpdateTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/UpdateTeacherResponse" message="tns:ITeacherService_UpdateTeacher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITeacherService" type="tns:ITeacherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTeachers">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/GetTeachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacher">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/GetTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeacher">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/AddTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeacher">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/DeleteTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacher">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/UpdateTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeacherService">
    <wsdl:port name="BasicHttpBinding_ITeacherService" binding="tns:BasicHttpBinding_ITeacherService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServices/TeacherService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>